[flake8]
select = B,B9,C,D,DAR,E,F,I,N,RST,S,W
ignore = E203,E501,W503
max-line-length = 80
max-complexity = 10
docstring-convention = google
per-file-ignores = tests/*:D1,S101
exclude =
  .eggs,
  .git,
  .github,
  .hg
  .mypy_cache,
  .pytest_cache,
  .tox,
  .venv,
  .vscode,
  __pycache__,
  setup.py,
  build,
  dist,
  releases
